<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data</title>
    <link rel="stylesheet" href="{{url_for('static',filename="style.css")}}">
</head>
<body>
    <section class="indexContainer">
        <h1 class="heading1">Get the weather of any city you like</h1>
        <form action="/weather">
            <input placeholder=" Enter the city name" id="city" name="city"></input>
            <button type="submit"></button>
        </form>
    </section>
   
</body>
</html>